*{
    box-sizing: border-box;
}
#title{
    color: purple;
    text-align: center;
    font-size: 64px;
}
    
#divOfFirstParagrap{
    background-color: #FFE8E8;
    width: 565px;
    border: blue 1px solid;
    text-align: center;
    padding: 24px 40px;
}
#FirstParagrap{
    color: red; 
    font-size: 32px;
}
#divOfsecondParagrap{
    font-size: 20px;
    width: 1023px;
    padding: 24px 40px;
    text-align: center;
    border-top: 2px solid #00C76E;
    border-bottom: 2px solid #7F56D9;
    border-left: 4px solid #C11574;
    border-right:  #05F 6px solid;
}
#secondParagrap{
    color: gray;
    font-size: 32px;
}
#divOfThirdParagrap{
    background-color: #FFE8E8;
    width: 1024px;
    text-align:center;
    border: white 1px solid;
    padding:24px 40px;
}
#thirdParagrap{
    color: #414651;
    font-size: 32px;
}
#divOffourthParagrap{
border: solid 3px blue;
width: 1069px;
padding: 24px 40px;
text-align: right;
}
#fourthParagrap{
    color: blue;
    font-size: 32px;
}
snap{
    color: red;
    font-size: 40px;
}
img{
    width: 556px;
    height: 347px;
}
